---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/jetbrains-mono';
---

<Layout title="J.H.Wu">
	<main class="flex h-screen items-center justify-center bg-gray-100 flex-col">
		<h1 class="text-4xl md:text-6xl lg:text-8xl font-mono text-center text-gray-800">
			jWu
		</h1>
		<p class="text-xl md:text-2xl lg:text-3xl font-mono text-center text-gray-600 mt-4">
			Fullstack 24/7
		</p>
	</main>
</Layout>
